
.sex-chart {
    width: 500px;
}

.blue-person,
.pink-person {
    width: 6px;
    height: 13px;
    padding: 1px;
}

.person-number {
    display: flex;
}

.sum-count {
    justify-content: space-between;
}

.row-sex-number,
.sum-count {
    display: flex;
    width: 100%;
}

.male-number,
.blue-person {
    color: #32C5FF;
}

.female-number,
.pink-person {
    color: #E380AD;
}

.female-number {
    text-align: right;
}

.male-type {
    width: 80px;
    text-align: center;
}

.number-width {
    width: 50px;
}

.person-width {
    width: calc((100% - 180px));
}


.person-line-box {
    position: relative;
}

.person-line {
    height: 1px;
    border-top: 1px dashed #32C5FF;
    position: absolute;
    top: 13px;
    z-index: -1;

}

.right-person {
    right: 0px;
}

.content {
    position: absolute;
    top: 4px;
}